# Analyzing the relationship between pesticide use and cancer incidence in the US by county

### Summary

This notebook contains 2 primary datasets obtained from Kaggle. The pesticide dataset is composed of 3 sets: 2014, 2015, and a key containing the state and county names. The cancer dataset is a single dataset. First I merge the Pesticide dataset into a single dataframe. And then merge the Pesticide dataframe with the Cancer dataframe.

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
df2014=pd.read_csv("file://localhost/Users/anissakhan/Dropbox/Nissa_stuff/KU_CS/EECS731/731-Project-1/Data/718_1342_bundle_archive/2014.csv")

In [6]:
df2015=pd.read_csv("file://localhost/Users/anissakhan/Dropbox/Nissa_stuff/KU_CS/EECS731/731-Project-1/Data/718_1342_bundle_archive/2015.csv")

In [7]:
dfKey=pd.read_csv("file://localhost/Users/anissakhan/Dropbox/Nissa_stuff/KU_CS/EECS731/731-Project-1/Data/718_1342_bundle_archive/dictionary.csv")

In [8]:
dfCancer=pd.read_csv("file://localhost/Users/anissakhan/Dropbox/Nissa_stuff/KU_CS/EECS731/731-Project-1/Data/cancer_incidence_by_county.csv")

Create a data set that merges the 2014 and 2015 dataset (merged vertically).
I used ignore_index=True so that the index would not repeat across the 2 datasets.

In [9]:
frames = [df2014, df2015]

In [10]:
dfPestNoKey = pd.concat(frames, ignore_index=True)

Check how many unique county names exist in each dataset: Pesticide dataset (dfKey) and Cancer dataset (dfCancer)

In [11]:
dfKey.COUNTY.nunique()

1969

In [12]:
dfCancer.county.nunique()

2084

Merge Pesticide dataset with its State and County names

In [13]:
dfPest=pd.merge(dfPestNoKey, dfKey, left_on=['COUNTY_CODE', 'STATE_CODE'], right_on=['COUNTY_CODE', 'STATE_CODE'])

In [14]:
dfPest

,COMPOUND,YEAR,STATE_CODE,COUNTY_CODE,LOW_ESTIMATE,HIGH_ESTIMATE,COUNTY,STATE
0,"2,4-D",2014,1,1,1698.6,1885.5,Autauga County,AL
1,"2,4-DB",2014,1,1,82.8,264.3,Autauga County,AL
2,Abamectin,2014,1,1,8.6,8.9,Autauga County,AL
3,Acephate,2014,1,1,707.9,707.9,Autauga County,AL
4,Acetochlor,2014,1,1,649.5,859.5,Autauga County,AL
...,...,...,...,...,...,...,...,...
762191,Esfenvalerate,2014,6,105,0.5,0.5,Trinity County,CA
762192,Glyphosate,2014,6,105,155.5,155.5,Trinity County,CA
762193,Imazapyr,2014,6,105,8.8,8.8,Trinity County,CA
762194,Petroleum Oil,2014,6,105,3.2,3.2,Trinity County,CA
762195,Phosmet,2014,6,105,1.2,1.2,Trinity County,CA

In [15]:
dfCancer

,Unnamed: 0,county,incidence_rate_per_100k,avg_annual_count,recent_trend,five_year_incidence_change_rate,stateFIPS,incidence_rate_per_100k_low_95,incidence_rate_per_100k_high_95,five_year_incidence_change_rate_low_95,five_year_incidence_change_rate_high_95
0,0,Chambers County,522.8,240,stable,-1.5,1,492.7,554.5,-6.5,3.7
1,1,Walker County,515.8,447,stable,0.2,1,494.0,538.4,-2.8,3.2
2,2,Lowndes County,513.3,71,rising,11.2,1,459.8,571.8,6.3,16.3
3,3,Dallas County,510.0,258,stable,0.7,1,481.6,539.7,-9.8,12.4
4,4,Autauga County,495.6,304,stable,-0.2,1,470.6,521.5,-9.0,9.6
...,...,...,...,...,...,...,...,...,...,...,...
3002,3002,Platte County,351.3,47,stable,-4.7,56,304.1,404.6,-15.3,7.3
3003,3003,Crook County,343.4,35,stable,9.8,56,291.9,402.2,-6.0,28.4
3004,3004,Goshen County,339.3,68,stable,1.8,56,302.7,379.6,-19.9,29.3
3005,3005,Niobrara County,304.5,12,stable,-16.7,56,228.2,401.7,-36.7,9.7
3006,3006,Sublette County,301.1,36,stable,3.1,56,257.0,350.8,-14.1,23.9

## Cleaning the data

Delete unnecessary column (Unnamed: 0):

In [16]:
dfCancer=dfCancer.drop(columns='Unnamed: 0')

In [17]:
dfCancer

,county,incidence_rate_per_100k,avg_annual_count,recent_trend,five_year_incidence_change_rate,stateFIPS,incidence_rate_per_100k_low_95,incidence_rate_per_100k_high_95,five_year_incidence_change_rate_low_95,five_year_incidence_change_rate_high_95
0,Chambers County,522.8,240,stable,-1.5,1,492.7,554.5,-6.5,3.7
1,Walker County,515.8,447,stable,0.2,1,494.0,538.4,-2.8,3.2
2,Lowndes County,513.3,71,rising,11.2,1,459.8,571.8,6.3,16.3
3,Dallas County,510.0,258,stable,0.7,1,481.6,539.7,-9.8,12.4
4,Autauga County,495.6,304,stable,-0.2,1,470.6,521.5,-9.0,9.6
...,...,...,...,...,...,...,...,...,...,...
3002,Platte County,351.3,47,stable,-4.7,56,304.1,404.6,-15.3,7.3
3003,Crook County,343.4,35,stable,9.8,56,291.9,402.2,-6.0,28.4
3004,Goshen County,339.3,68,stable,1.8,56,302.7,379.6,-19.9,29.3
3005,Niobrara County,304.5,12,stable,-16.7,56,228.2,401.7,-36.7,9.7
3006,Sublette County,301.1,36,stable,3.1,56,257.0,350.8,-14.1,23.9

Check summary statistics

In [18]:
dfPest.describe()

,YEAR,STATE_CODE,COUNTY_CODE,LOW_ESTIMATE,HIGH_ESTIMATE
count,762196.000000,762196.000000,762196.000000,5.209890e+05,7.621960e+05
mean,2014.485128,30.957291,94.823353,1.496135e+03,1.182863e+03
std,0.499779,14.666494,85.567998,1.849983e+04,1.569203e+04
min,2014.000000,1.000000,1.000000,0.000000e+00,0.000000e+00
25%,2014.000000,19.000000,35.000000,9.000000e-01,1.500000e+00
50%,2014.000000,30.000000,77.000000,1.210000e+01,1.640000e+01
75%,2015.000000,45.000000,129.000000,1.327000e+02,1.405000e+02
max,2015.000000,56.000000,810.000000,5.507146e+06,5.507146e+06

In [19]:
dfPest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 762196 entries, 0 to 762195
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   COMPOUND       762196 non-null  object
 1   YEAR           762196 non-null  int64
 2   STATE_CODE     762196 non-null  int64
 3   COUNTY_CODE    762196 non-null  int64
 4   LOW_ESTIMATE   520989 non-null  float64
 5   HIGH_ESTIMATE  762196 non-null  float64
 6   COUNTY         762196 non-null  object
 7   STATE          762196 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 52.3+ MB

In [20]:
dfCancer.describe()

,stateFIPS,incidence_rate_per_100k_low_95,incidence_rate_per_100k_high_95,five_year_incidence_change_rate_low_95,five_year_incidence_change_rate_high_95
count,3007.000000,2802.000000,2802.000000,2788.000000,2788.000000
mean,30.475557,410.834868,489.252677,-8.198924,9.326220
std,14.995741,63.757158,64.413099,8.497521,13.807583
min,1.000000,72.900000,1.000000,-69.200000,-13.100000
25%,18.000000,377.800000,453.400000,-11.500000,1.300000
50%,30.000000,421.600000,488.100000,-5.900000,5.500000
75%,45.000000,454.675000,523.200000,-2.000000,12.300000
max,56.000000,586.600000,974.300000,11.500000,199.700000

In [21]:
dfCancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3007 entries, 0 to 3006
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   county                                   3007 non-null   object
 1   incidence_rate_per_100k                  3007 non-null   object
 2   avg_annual_count                         3007 non-null   object
 3   recent_trend                             3007 non-null   object
 4   five_year_incidence_change_rate          3007 non-null   object
 5   stateFIPS                                3007 non-null   int64
 6   incidence_rate_per_100k_low_95           2802 non-null   float64
 7   incidence_rate_per_100k_high_95          2802 non-null   float64
 8   five_year_incidence_change_rate_low_95   2788 non-null   float64
 9   five_year_incidence_change_rate_high_95  2788 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 235.0+ KB

Rename Column names for state code (from STATE_CODE to stateFIPS) and county name (from COUNTY to county) to match the other dataset

In [22]:
dfPest.columns

Index(['COMPOUND', 'YEAR', 'STATE_CODE', 'COUNTY_CODE', 'LOW_ESTIMATE',
       'HIGH_ESTIMATE', 'COUNTY', 'STATE'],
      dtype='object')

In [23]:
dfPest.columns=['COMPOUND', 'YEAR', 'stateFIPS', 'COUNTY_CODE', 'LOW_ESTIMATE',
       'HIGH_ESTIMATE', 'county', 'STATE']

Check the datatype to verify ability to merge

In [24]:
dfPest.dtypes

COMPOUND          object
YEAR               int64
stateFIPS          int64
COUNTY_CODE        int64
LOW_ESTIMATE     float64
HIGH_ESTIMATE    float64
county            object
STATE             object
dtype: object

In [25]:
dfCancer.dtypes

county                                      object
incidence_rate_per_100k                     object
avg_annual_count                            object
recent_trend                                object
five_year_incidence_change_rate             object
stateFIPS                                    int64
incidence_rate_per_100k_low_95             float64
incidence_rate_per_100k_high_95            float64
five_year_incidence_change_rate_low_95     float64
five_year_incidence_change_rate_high_95    float64
dtype: object

Convert county from object to string for both datasets to enable merge on county name (since cancer dataset doesn't have a county code, we can't use county code for merge)

In [26]:
dfCancer['county'] = dfCancer['county'].astype("string")

In [27]:
dfPest['county'] = dfPest['county'].astype("string")

Verify type of county is now a string

In [28]:
dfCancer.dtypes

county                                      string
incidence_rate_per_100k                     object
avg_annual_count                            object
recent_trend                                object
five_year_incidence_change_rate             object
stateFIPS                                    int64
incidence_rate_per_100k_low_95             float64
incidence_rate_per_100k_high_95            float64
five_year_incidence_change_rate_low_95     float64
five_year_incidence_change_rate_high_95    float64
dtype: object

In [29]:
dfPest.dtypes

COMPOUND          object
YEAR               int64
stateFIPS          int64
COUNTY_CODE        int64
LOW_ESTIMATE     float64
HIGH_ESTIMATE    float64
county            string
STATE             object
dtype: object

Strip extra spaces at the end of dfCancer.county string (used dfCancer.county = dfCancer.county.str.encode(
'utf-8') and dfPest.county=dfPest.county.str.encode('utf-8') to verify whether or not the strings were the same. The dfCancer string had extra spaces at the end of its string; therefore I stripped those spaces using the following command:

In [30]:
dfCancer.county = dfCancer.county.str.strip()

Create 2 datasets from the Pesticide dataset. Select only the pesticide Glyphosate for the year 2014 and again for the year 2015 for ease of analysis.

In [31]:
dfGlyph2014=dfPest.query("COMPOUND == 'Glyphosate' and YEAR == 2014")[['COMPOUND', 'YEAR', 'stateFIPS', 'COUNTY_CODE', 'LOW_ESTIMATE',
       'HIGH_ESTIMATE', 'county', 'STATE']]

In [32]:
dfGlyph2015=dfPest.query("COMPOUND == 'Glyphosate' and YEAR == 2015")[['COMPOUND', 'YEAR', 'stateFIPS', 'COUNTY_CODE', 'LOW_ESTIMATE',
       'HIGH_ESTIMATE', 'county', 'STATE']]

In [33]:
df2015Combined=pd.merge(dfGlyph2015, dfCancer, left_on=['county', 'stateFIPS'], right_on=['county', 'stateFIPS'])

In [34]:
df2014Combined=pd.merge(dfGlyph2014, dfCancer, left_on=['county', 'stateFIPS'], right_on=['county', 'stateFIPS'])

In [35]:
df2014Combined.dtypes

COMPOUND                                    object
YEAR                                         int64
stateFIPS                                    int64
COUNTY_CODE                                  int64
LOW_ESTIMATE                               float64
HIGH_ESTIMATE                              float64
county                                      string
STATE                                       object
incidence_rate_per_100k                     object
avg_annual_count                            object
recent_trend                                object
five_year_incidence_change_rate             object
incidence_rate_per_100k_low_95             float64
incidence_rate_per_100k_high_95            float64
five_year_incidence_change_rate_low_95     float64
five_year_incidence_change_rate_high_95    float64
dtype: object

In [36]:
df2014Combined

,COMPOUND,YEAR,stateFIPS,COUNTY_CODE,LOW_ESTIMATE,HIGH_ESTIMATE,county,STATE,incidence_rate_per_100k,avg_annual_count,recent_trend,five_year_incidence_change_rate,incidence_rate_per_100k_low_95,incidence_rate_per_100k_high_95,five_year_incidence_change_rate_low_95,five_year_incidence_change_rate_high_95
0,Glyphosate,2014,1,1,11146.6,11219.2,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6
1,Glyphosate,2014,1,3,115957.7,116239.7,Baldwin County,AL,445.0,"1,189",stable,-2.0,433.4,456.8,-4.5,0.5
2,Glyphosate,2014,1,5,7994.1,7995.7,Barbour County,AL,429.8,145,stable,0.6,398.3,463.3,-7.8,9.7
3,Glyphosate,2014,1,7,215.5,215.5,Bibb County,AL,478.3,128,stable,-0.9,441.2,517.8,-11.6,11.1
4,Glyphosate,2014,1,9,6540.7,6652.1,Blount County,AL,440.0,317,stable,0.1,418.0,462.8,-5.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2132,Glyphosate,2014,56,37,509.8,5855.7,Sweetwater County,WY,387.8,162,stable,2.3,359.9,417.3,-3.9,8.8
2133,Glyphosate,2014,56,39,311.1,311.1,Teton County,WY,420.4,98,stable,0.2,382.3,461.2,-17.3,21.5
2134,Glyphosate,2014,56,41,2639.5,2639.5,Uinta County,WY,373.6,78,stable,-3.0,335.3,415.1,-13.9,9.2
2135,Glyphosate,2014,56,43,14799.4,15084.4,Washakie County,WY,384.2,44,stable,-3.3,332.8,441.9,-15.7,10.8
2136,Glyphosate,2014,56,45,257.7,578.6,Weston County,WY,403.9,40,stable,3.0,348.0,467.1,-6.9,13.9

Create a dataset that combines the all the Pesticides data and the Cancer data

In [42]:
dfAllCombined=pd.merge(dfPest, dfCancer, left_on=['county', 'stateFIPS'], right_on=['county', 'stateFIPS'])

In [44]:
dfAllCombined.head()

,COMPOUND,YEAR,stateFIPS,COUNTY_CODE,LOW_ESTIMATE,HIGH_ESTIMATE,county,STATE,incidence_rate_per_100k,avg_annual_count,recent_trend,five_year_incidence_change_rate,incidence_rate_per_100k_low_95,incidence_rate_per_100k_high_95,five_year_incidence_change_rate_low_95,five_year_incidence_change_rate_high_95
0,"2,4-D",2014,1,1,1698.6,1885.5,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6
1,"2,4-DB",2014,1,1,82.8,264.3,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6
2,Abamectin,2014,1,1,8.6,8.9,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6
3,Acephate,2014,1,1,707.9,707.9,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6
4,Acetochlor,2014,1,1,649.5,859.5,Autauga County,AL,495.6,304,stable,-0.2,470.6,521.5,-9.0,9.6

Export combined dataset to csv file

In [45]:
dfAllCombined.to_csv('finalDataset.csv')